
*{
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
}

.scorecard {
   display:flex;
   justify-content: space-around;
   margin: 48px 0;


} 

.home-score, .away-score  {
   flex-basis: 100px;
   background-color: rgb(31, 17, 44);
   padding: 28px;
   color: #df2b67e8;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

